-------------
nxos1
-------------
interface {{ interface }}
  ip address {{ ip_address }}/{{ mask }}


-------------
nxos2
-------------
interface Ethernet2/1
  ip address 10.1.100.2/24
-------------
